body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 940px;
  /*padding: 0 10px;*/
  margin: 0 auto;
  overflow: hidden;
}

.main-header {
  position: relative;
  background-color: #f3f7f8;
  margin-bottom: 60px;
}

.top-header {
  background-color: #33445a;
  margin-bottom: 46px;
}

.top-header-wrap {
  display: flex;
  align-items: stretch;
}

.header-logo {
  position: absolute;
  width: 220px;
  padding: 9px 54px;

  background-color: #ff5357;
  border-bottom: 5px solid #c23f42;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.search-form {
  position: relative;
  width: 270px;
  margin-left: 220px;
  /*min-height: 44px;*/

  display: flex;
}

.search {
  width: 230px;
  margin: 0;
  padding: 12px 10px;
  min-height: 44px;

  background-color: #33445a;
  border: none;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  order: 2;
  align-self: flex-start;
}

.search::-webkit-input-placeholder {
  color: #ffffff;
}

.search:hover {
  background-color: #212a3a;
  outline: none;
}

.search:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.search-btn {
  position: relative;
  width: 40px;
  border: none;
  text-indent: -999px;
  overflow: hidden;
  background-color: #33445a;
}

.search-btn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
  background: url(../img/icon-search.svg) no-repeat center;
}

.search:hover + .search-btn {
  background-color: #212a3a;
}

.search:hover + .search-btn::before {
  opacity: 1;
}

.search:focus + .search-btn {
  background-color: #ffffff;
}

.search:focus + .search-btn::before {
  background-color: #ffffff;
  opacity: 1;
  background: url(../img/icon-search-red.svg) no-repeat center;
}

.search-btn:hover,
.search-btn:focus {
  outline: none;
}

.markers-and-cart {
  display: flex;

  list-style: none;

  margin: 0;
  padding: 0;
}

.markers-and-cart  li {
  margin: 0;
  padding: 0;
}

.markers-and-cart a {
  display: block;
  width: 150px;
  color: #ffffff;
}

.markers-and-cart a:hover,
.markers-and-cart a:focus {
  background-color: #212a3a;
  outline: none;
}

.markers-and-cart a:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.markers {
  position: relative;
  display: block;
  padding: 13px 10px 11px 44px;
  min-height: 44px;
}

.markers::before {
  position: absolute;
  top: 12px;
  left: 17px;
  content: "";
  width: 14px;
  height: 16px;
  opacity: 0.3;
  background: url(../img/icon-bookmark.svg) no-repeat center;
}

.markers:hover::before,
.markers:focus::before {
  opacity: 1;
}

.markers:active::before {
  opacity: 0.5;
}

.cart {
  position: relative;
  display: block;
  padding: 13px 10px 11px 50px;
  min-height: 44px;
}

.cart::before {
  position: absolute;
  top: 12px;
  left: 17px;
  content: "";
  width: 15px;
  height: 15px;
  opacity: 0.3;
  background: url(../img/icon-cart.svg) no-repeat center;
}

.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.make-order {
  width: 150px;
  color: #ffffff;
  background-color: #6db254;
  padding: 13px 21px 11px;
  min-height: 44px;
}

.make-order:hover,
.make-order:focus {
  background-color: #5fbb2d;
  outline: none;
}

.make-order:active {
  background-color: #518534;
  color: rgba(255,255,255,0.5);
}

.main-header > .container {
  display: flex;
  align-content: flex-start;
  margin-bottom: 44px;
}

.header-title {
  width: 310px;
  margin: 0;
  padding: 0 60px 0 52px;
  margin-right: 10px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ff5357;
}

.header-contacts {
  width: 310px;
  margin-right: 30px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.phone {
  position: relative;
  padding: 8px 40px 8px 70px;
  margin-bottom: 2px;
  width: 270px;
  font-size: 21px;
  line-height: 21px;
  color: #fb463c;
  border: 3px solid #ffffff;
}

.phone::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 19px;
  height: 19px;
  background: url(../img/icon-phone.svg) no-repeat center;
}

.adress {
  margin: 0;
  padding: 0;
  padding-left: 9px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  list-style: none;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;

  width: 280px;
  padding-left: 20px;
  margin: 0;
  padding: 0;
}

.user-navigation li {
  margin: 0;
  padding: 0;
}

.user-navigation a {
  display: block;
  background-color: #ffffff;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.sign-in {
  position: relative;
  width: 121px;
  margin-right: 10px;
  padding: 11px 26px 11px 47px;
}

.sign-in::before {
  position: absolute;
  top: 14px;
  left: 14px;
  content: "";
  width: 20px;
  height: 17px;
  opacity: 0.3;
  background: url(../img/icon-login.svg) no-repeat center;
}

.sign-in:hover::before {
  background: url(../img/icon-login-hover.svg) no-repeat center;
}

.sign-in:active::before {
  background: url(../img/icon-login.svg) no-repeat center;
}

.sign-up {
  width: 150px;
  padding: 11px 24px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  outline: none;
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.main-navigation {
}

.site-navigation {
  width: 940px;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  display: flex;
  list-style: none;

  background-color: #3d546e;
  border-bottom: 5px solid #293449;
}

.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;
  line-height: 17px;
  color: #ffffff;
  padding: 19px 34px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
  outline: none;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}

.categories {
  margin-bottom: 53px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.categories-wrap-left {
  width: 620px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.categories-wrap-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories-wrap-right .category:last-child {
  margin-bottom: 0;
}

.materials .flag-new {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -999px;
  overflow: hidden;
  width: 60px;
  height: 59px;
  background: url(../img/new-flag.png) no-repeat center;
}

.category {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
  padding: 22px;
  padding-top: 19px;
  padding-bottom: 20px;
  /*height: 123px;*/
}

.category h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.category-btn {
  width: 135px;
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
}

.category-btn:hover,
.category-btn:focus {
  background-color: rgba(0,0,0,0.2);
  outline: none;
}

.category-btn:active {
  background-color: rgba(0,0,0,0.3);
}

.button {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}

.materials {
  background-color: #ffbf47;
}

.materials::before {
  position: absolute;
  top: 30px;
  right: 43px;
  content: "";
  width: 44px;
  height: 65px;
  background: url(../img/icon-1.svg) no-repeat center;
}

.instrument {
  background-color: #3bbce3;
}

.instrument::before {
  position: absolute;
  content: "";
  top: 32px;
  right: 28px;
  width: 75px;
  height: 61px;
  background: url(../img/icon-2.svg) no-repeat center;
}

.technics {
  background-color: #dc91d8;
}

.technics::before {
  position: absolute;
  content: "";
  top: 30px;
  right: 30px;
  width: 78px;
  height: 76px;
  background: url(../img/icon-3.svg) no-repeat center;
}

.sales {
  background-color: #8ed78f;
}

.sales::before {
  position: absolute;
  content: "";
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background: url(../img/icon-4.svg) no-repeat center;
}

.delivery {
  background-color: #ffc047;
}

.delivery::before {
  position: absolute;
  content: "";
  top: 32px;
  right: 30px;
  width: 78px;
  height: 63px;
  background: url(../img/icon-5.svg) no-repeat center;
}

.slider {
  width: 620px;
  position: relative;
}

.arrow-btn {
  position: absolute;
  background-color: none;
  width: 30px;
  height: 30px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  z-index: 10;
}

.right-btn {
  top: 126px;
  right: 23px;
  transform: rotate(45deg);
}

.left-btn {
  top: 126px;
  left: 28px;
  transform: rotate(-135deg);
}

.slider-controls {
  width: 30px;
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.slider-controls label {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

#btn-1:checked ~ .slider-controls label:nth-child(1) {
  background-color: #ee3643;
}

#btn-2:checked ~ .slider-controls label:nth-child(2) {
  background-color: #ee3643;
}

.slides {
  position: relative;
}

.slide:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 266px;
  background: #bdac9c url(../img/slide-1.jpg) no-repeat center;
}

.slide:nth-child(2) {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 266px;
  background: #463d39 url(../img/slide-2.jpg) no-repeat center;
}

.slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 21px;
  margin-left: 25px;
  margin-bottom: 2px;
  padding: 0;
  text-transform: uppercase;
}

.slide p {
  margin: 0;
  margin-left: 25px;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

.open-catalog {
  background-color: #ff5357;
  border-radius: 3px;
  position: absolute;
  left: 25px;
  top: 205px;
  width: 195px;
  padding: 10px;
  z-index: 10;
}

.open-catalog:hover,
.open-catalog:focus {
  background-color: #ca2c37;
  outline: none;
}

.open-catalog:active {
  background-color: #ba2732;
}

section.popular {
  overflow: visible;
}

.section-head {
  background-color: #f9f5f0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.section-head h2 {
  margin: 0;
  padding: 0;
  margin-left: 28px;
  margin-top: 30px;
  margin-bottom: 30px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #3d546e;
  text-transform: uppercase;
}

.section-head a {
  margin-right: 24px;
}

.all-popular {
  background-color: #ff5357;
  width: 255px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}

.all-popular:hover,
.all-popular:focus {
  background-color: #ca2c37;
  outline: none;
}

.all-popular:active {
  background-color: #ba2732;
}

.popular-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 20px;
}

.catalog-item {
  position: relative;
  width: 220px;
  border: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.popular-items .catalog-item:last-child .flag-new {
  position: absolute;
  top: -1px;
  right: -1px;
  text-indent: -999px;
  overflow: hidden;
  width: 60px;
  height: 59px;
  background: url(../img/new-flag.png) no-repeat center;
  z-index: 10;
}

.catalog-item img {
  margin-bottom: 20px;
}

.catalog-item-title {
  width: 162px;
  margin: 0 auto;
  margin-bottom: 12px;
  text-align: center;
  min-height: 36px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.old-price {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 9px;
  text-align: center;
  min-height: 18px;;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.btn-price {
  display: block;
  width: 141px;
  height: 38px;
  text-align: center;
  background: url(../img/red-button.svg) no-repeat center;
  margin-left: 43px;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 38px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item-hover {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;

  width: 220px;
  height: 160px;

  padding-top: 45px;
  padding-bottom: 33px;

  background-color: #ffffff;
}

.buy-it {
  position: relative;
  background-color: #63a63e;
  width: 135px;
  text-align: center;
  padding: 9px 8px 7px;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #367315;
  margin: 0 auto;
  margin-bottom: 10px;
}

.buy-it::before {
  position: absolute;
  top: 10px;
  left: 12px;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/icon-cart.svg) no-repeat center;
  opacity: 0.3;
}

.buy-it:hover,
.buy-it:focus {
  background-color: #5fbb2d;
  outline: none;
}

.buy-it:hover::before,
.buy-it:focus::before {
  opacity: 1;
}

.buy-it:active {
  background-color: #518534;
  box-shadow: 0 3px 0 0 #518534;
}

.buy-it:active::before {
  opacity: 1;
}

.mark-it {
  background-color: #ffffff;
  color: #32425c;
  width: 135px;
  text-align: center;
  padding: 7px;
  border: 3px solid #63a63e;
  border-radius: 3px;
  margin: 0 auto;
}

.mark-it:hover,
.mark-it:focus {
  border: 3px solid #32425c;
  outline: none;
}

.mark-it:active {
  opacity: 0.3;
}

.catalog-item:hover {
  border: 1px solid #ffffff;
  box-shadow: 0px 10px 25px 0 rgba(41,52,73,0.5);
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.all-brands {
  background-color: #ff5357;
}

.all-brands:hover,
.all-brands:focus {
  background-color: #ca2c37;
  outline: none;
}

.all-brands:active {
  background-color: #ba2732;
}

.brands-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.brand {
  width: 220px;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services {
  background-color: #f5f8fa;
}

.services p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-slider {
  display: flex;
  align-items: flex-start;
}

.services-list {
  margin: 0;
  padding: 0;
}

.services-list label {
  background-color: #3d546e;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.services-list label:hover {
  background-color: #293449;
}

.services-slide-title {
  font-size: 36px;
  line-height: 36px;
  color: #3d546e;
}

.send-request {
  background-color: #ff5357;
}

.send-request:hover,
.send-request:focus {
  background-color: #ca2c37;
  outline: none;
}

.send-request:active {
  background-color: #ba2732;
}

.info-and-contacts {
  display: flex;
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-us p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-us ul {
  list-style: none;
}

.about-us li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.more-about-us {
  background-color: #ff5357;
}

.more-about-us:hover,
.more-about-us:focus {
  background-color: #ca2c37;
  outline: none;
}

.more-about-us:active {
  background-color: #ba2732;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.write-us {
  background-color: #ff5357;
}

.write-us:hover,
.write-us:focus {
  background-color: #ca2c37;
  outline: none;
}

.write-us:active {
  background-color: #ba2732;
}

.main-footer {
  background-color: #3d546e;
}

.top-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-logo {
  background-color: #ff5357;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  width: 220px;
  margin-right: 170px;
}

.first-footer-navigation ul {
  list-style: none;
  width: 550px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.first-footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.first-footer-navigation a:hover,
.first-footer-navigation a:focus {
  text-decoration: underline;
  outline: none;
}

.first-footer-navigation a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}

.second-footer-navigation {
  order: 2;
}

.second-footer-navigation ul {
  list-style: none;
  width: 525px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.second-footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #ffda96;
}

.second-footer-navigation a:hover,
.second-footer-navigation a:focus {
  text-decoration: underline;
  outline: none;
}

.second-footer-navigation a:active {
  color: rgba(255,209,128,0.5);
  text-decoration: none;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  margin: 0;
  padding: 0;
  margin-right: 92px;
}

.bottom-footer {
  background-color: #33445b;
}

.bottom-footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.bottom-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #f3f7f9;
}

.socials {
  align-self: center;
}

.socials a {
  color: #ffffff;
}

.creators a,
.feedback a {
  font-size: 16px;
  line-height: 18px;
  color: #ffda96;
}

.write-us-form {
  background-color: #ffffff;
}

.write-us-form label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

input.send-it {
  background-color: #ee3643;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

input.send-it:hover,
input.send-it:focus {
  background-color: #ca2c37;
  outline: none;
}

input.send-it:active {
  background-color: #ba2732;
}
