body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 940px;
  /*padding: 0 10px;*/
  margin: 0 auto;
}

.main-header {
  background-color: #f3f7f8;
  margin-bottom: 60px;
}

.top-header {
  background-color: #33445a;
  margin-bottom: 46px;
}

.top-header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 220px;

  background-color: #ff5357;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.search {
  width: 270px;
  margin: 0;
  padding: 0;

  background-color: #33445a;
  border: none;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.search::-webkit-input-placeholder {
  color: #ffffff;
}

.search:hover,
.search:focus {
  background-color: #212a3a;
  outline: none;
}

.markers-and-cart {
  display: flex;

  list-style: none;

  margin: 0;
  padding: 0;
}

.markers-and-cart  li {
  margin: 0;
  padding: 0;
}

.markers-and-cart a {
  display: block;
  width: 150px;
  color: #ffffff;
}

.markers-and-cart a:hover,
.markers-and-cart a:focus {
  background-color: #212a3a;
  outline: none;
}

.markers-and-cart a:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.make-order {
  width: 150px;
  color: #ffffff;
  background-color: #6db254;
}

.make-order:hover,
.make-order:focus {
  background-color: #5fbb2d;
  outline: none;
}

.make-order:active {
  background-color: #518534;
  color: rgba(255,255,255,0.5);
}

.main-header > .container {
  display: flex;
}

.header-title {
  width: 310px;
  margin: 0;
  padding: 0;
  margin-right: 10px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ff5357;
}

.header-contacts {
  width: 310px;
  margin-right: 10px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.phone {
  width: 270px;
  font-size: 21px;
  line-height: 21px;
  color: #fb463c;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #3d546e;
}

.user-navigation {
  list-style: none;
  display: flex;

  padding-left: 20px;
}

.user-navigation li {
  margin: 0;
  padding: 0;
}

.user-navigation a {
  display: block;
  background-color: #ffffff;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.sign-in {
  width: 122px;
  margin-right: 10px;
}

.sign-up {
  width: 150px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  outline: none;
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.main-navigation {
}

.site-navigation {
  width: 940px;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  display: flex;
  list-style: none;

  background-color: #3d546e;
}

.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;
  line-height: 17px;
  color: #ffffff;
  padding: 0 34px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
  outline: none;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}

.categories {
  margin-bottom: 53px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.categories-wrap-left {
  width: 620px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.categories-wrap-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  width: 300px;
  margin-bottom: 20px;
  /*height: 123px;*/
}

.category h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.category-btn {
  background-color: rgba(0,0,0,0.1);
}

.category-btn:hover,
.category-btn:focus {
  background-color: rgba(0,0,0,0.2);
  outline: none;
}

.category-btn:active {
  background-color: rgba(0,0,0,0.3);
}

.button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  cursor: pointer;
}

.materials {
  background-color: #ffbf47;
}

.instrument {
  background-color: #3bbce3;
}

.technics {
  background-color: #dc91d8;
}

.sales {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.slider {
  width: 620px;
}

.open-catalog {
  background-color: #ff5357;
}

.open-catalog:hover,
.open-catalog:focus {
  background-color: #ca2c37;
  outline: none;
}

.open-catalog:active {
  background-color: #ba2732;
}

.slide:nth-child(1) {
  background-color: #bdac9c;
}

.slide:nth-child(2) {
  background-color: #463d39;
}

.slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.slide p {
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.section-head {
  background-color: #f9f5f0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.section-head h2 {
  margin: 0;
  padding: 0;
  margin-left: 28px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #3d546e;
  text-transform: uppercase;
}

.section-head a {
  margin-right: 24px;
}

.all-popular {
  background-color: #ff5357;
}

.all-popular:hover,
.all-popular:focus {
  background-color: #ca2c37;
  outline: none;
}

.all-popular:active {
  background-color: #ba2732;
}

.popular-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 20px;
}

.catalog-item {
  width: 220px;
}

.catalog-item-title {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.old-price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.btn-price {
  background-color: #ee3643;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.buy-it {
  background-color: #63a63e;
}

.buy-it:hover,
.buy-it:focus {
  background-color: #5fbb2d;
  outline: none;
}

.buy-it:active {
  background-color: #518534;
}

.mark-it {
  background-color: #ffffff;
  color: #32425c;
}

.mark-it:active {
  opacity: 0.3;
}

.all-brands {
  background-color: #ff5357;
}

.all-brands:hover,
.all-brands:focus {
  background-color: #ca2c37;
  outline: none;
}

.all-brands:active {
  background-color: #ba2732;
}

.brands-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.brand {
  width: 220px;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services {
  background-color: #f5f8fa;
}

.services p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-slider {
  display: flex;
  align-items: flex-start;
}

.services-list {
  margin: 0;
  padding: 0;
}

.services-list label {
  background-color: #3d546e;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.services-list label:hover {
  background-color: #293449;
}

.services-slide-title {
  font-size: 36px;
  line-height: 36px;
  color: #3d546e;
}

.send-request {
  background-color: #ff5357;
}

.send-request:hover,
.send-request:focus {
  background-color: #ca2c37;
  outline: none;
}

.send-request:active {
  background-color: #ba2732;
}

.info-and-contacts {
  display: flex;
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-us p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-us ul {
  list-style: none;
}

.about-us li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.more-about-us {
  background-color: #ff5357;
}

.more-about-us:hover,
.more-about-us:focus {
  background-color: #ca2c37;
  outline: none;
}

.more-about-us:active {
  background-color: #ba2732;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.write-us {
  background-color: #ff5357;
}

.write-us:hover,
.write-us:focus {
  background-color: #ca2c37;
  outline: none;
}

.write-us:active {
  background-color: #ba2732;
}

.main-footer {
  background-color: #3d546e;
}

.top-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-logo {
  background-color: #ff5357;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  width: 220px;
  margin-right: 170px;
}

.first-footer-navigation ul {
  list-style: none;
  width: 550px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.first-footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.first-footer-navigation a:hover,
.first-footer-navigation a:focus {
  text-decoration: underline;
  outline: none;
}

.first-footer-navigation a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}

.second-footer-navigation {
  order: 2;
}

.second-footer-navigation ul {
  list-style: none;
  width: 525px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.second-footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #ffda96;
}

.second-footer-navigation a:hover,
.second-footer-navigation a:focus {
  text-decoration: underline;
  outline: none;
}

.second-footer-navigation a:active {
  color: rgba(255,209,128,0.5);
  text-decoration: none;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  margin: 0;
  padding: 0;
  margin-right: 92px;
}

.bottom-footer {
  background-color: #33445b;
}

.bottom-footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.bottom-footer p {
  font-size: 16px;
  line-height: 18px;
  color: #f3f7f9;
}

.socials {
  align-self: center;
}

.socials a {
  color: #ffffff;
}

.creators a,
.feedback a {
  font-size: 16px;
  line-height: 18px;
  color: #ffda96;
}

.write-us-form {
  background-color: #ffffff;
}

.write-us-form label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

input.send-it {
  background-color: #ee3643;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

input.send-it:hover,
input.send-it:focus {
  background-color: #ca2c37;
  outline: none;
}

input.send-it:active {
  background-color: #ba2732;
}
